Repository ucsb-cs156-s25/team02-s25-12, pull requests merged in 2025-05, with the labels that each got.

#64 jj - added ucsbDiningCommonsMenuItemFixtures.js
  frontend/package-lock.json
  frontend/package.json
  frontend/src/fixtures/ucsbDiningCommonsMenuItemFixtures.js
Labels: UCSBDiningCommonsMenuItem

#66 aw - Adds fixtures for Articles
  frontend/package-lock.json
  frontend/src/fixtures/articlesFixtures.js
Labels: Articles

#67 jj - ucsb dining commons menu item form component
  frontend/src/fixtures/ucsbDiningCommonsMenuItemFixtures.js
  frontend/src/main/components/UCSBDiningCommonsMenuItems/UCSBDiningCommonsMenuItemForm.js
  frontend/src/stories/components/UCSBDiningCommonsMenuItems/UCSBDiningCommonsMenuItemForm.stories.js
  frontend/src/tests/components/UCSBDiningCommonsMenuItems/UCSBDiningCommonsMenuItemForm.test.js
Labels: UCSBDiningCommonsMenuItem

#75 Aw - articles form component
  frontend/src/main/components/Articles/ArticlesForm.js
  frontend/src/stories/components/Articles/ArticlesForm.stories.js
  frontend/src/tests/components/Articles/ArticlesForm.test.js
Labels: Articles

#77 Simon MenuItemReviews Form + tests
  frontend/src/main/components/MenuItemReviews/MenuItemReviewForm.js
  frontend/src/stories/components/MenuItemReviews/MenuItemReview.stories.js
  frontend/src/tests/components/MenuItemReviews/MenuItemReviewForm.test.js
Labels: MenuItemReview

#69 jj - ucsb dining commons menu item copy placeholders
  frontend/src/App.js
  frontend/src/main/components/Nav/AppNavbar.js
  frontend/src/main/pages/UCSBDiningCommonsMenuItems/UCSBDiningCommonsMenuItemsCreatePage.js
  frontend/src/main/pages/UCSBDiningCommonsMenuItems/UCSBDiningCommonsMenuItemsEditPage.js
  frontend/src/main/pages/UCSBDiningCommonsMenuItems/UCSBDiningCommonsMenuItemsIndexPage.js
  frontend/src/tests/pages/UCSBDiningCommonsMenuItems/UCSBDiningCommonsMenuItemsCreatePage.test.js
  frontend/src/tests/pages/UCSBDiningCommonsMenuItems/UCSBDiningCommonsMenuItemsEditPage.test.js
  frontend/src/tests/pages/UCSBDiningCommonsMenuItems/UCSBDiningCommonsMenuItemsIndexPage.test.js
Labels: UCSBDiningCommonsMenuItem

#70 jj - ucsb dining commons menu item create page
  frontend/src/main/pages/UCSBDiningCommonsMenuItems/UCSBDiningCommonsMenuItemsCreatePage.js
  frontend/src/stories/pages/UCSBDiningCommonsMenuItems/UCSBDiningCommonsMenuItemsCreatePage.stories.js
  frontend/src/tests/pages/UCSBDiningCommonsMenuItems/UCSBDiningCommonsMenuItemsCreatePage.test.js
Labels: UCSBDiningCommonsMenuItem

#71 jj - ucsb dining commons menu item index page
  frontend/src/main/pages/UCSBDiningCommonsMenuItems/UCSBDiningCommonsMenuItemsIndexPage.js
  frontend/src/stories/pages/UCSBDiningCommonsMenuItems/UCSBDiningCommonsMenuItemsIndexPage.stories.js
  frontend/src/tests/pages/UCSBDiningCommonsMenuItems/UCSBDiningCommonsMenuItemsIndexPage.test.js
Labels: UCSBDiningCommonsMenuItem

#78 Aw articles table
  frontend/src/main/components/Articles/ArticlesTable.js
  frontend/src/main/utils/articlesUtils.js
  frontend/src/stories/components/Articles/ArticlesTable.stories.js
  frontend/src/tests/components/Articles/ArticlesTable.test.js
  frontend/src/tests/utils/articles.test.js
Labels: Articles

#79 Aw articles placeholder pages
  frontend/src/App.js
  frontend/src/main/components/Nav/AppNavbar.js
  frontend/src/main/pages/Articles/ArticlesCreatePage.js
  frontend/src/main/pages/Articles/ArticlesEditPage.js
  frontend/src/main/pages/Articles/ArticlesIndexPage.js
  frontend/src/tests/pages/Articles/ArticlesCreatePage.test.js
  frontend/src/tests/pages/Articles/ArticlesEditPage.test.js
  frontend/src/tests/pages/Articles/ArticlesIndexPage.test.js
Labels: Articles

#81 mw - Add Help Requests Form Component
  frontend/src/fixtures/helpRequestFixtures.js
  frontend/src/main/components/HelpRequests/HelpRequestForm.js
  frontend/src/stories/components/HelpRequests/HelpRequestForm.stories.js
  frontend/src/tests/components/HelpRequests/HelpRequestForm.test.js
Labels: HelpRequest

#74 jj - ucsb dining commons menu item edit page
  frontend/src/App.js
  frontend/src/main/components/UCSBDiningCommonsMenuItems/UCSBDiningCommonsMenuItemForm.js
  frontend/src/main/pages/UCSBDiningCommonsMenuItems/UCSBDiningCommonsMenuItemsEditPage.js
  frontend/src/stories/pages/UCSBDiningCommonsMenuItems/UCSBDiningCommonsMenuItemsEditPage.stories.js
  frontend/src/tests/pages/UCSBDiningCommonsMenuItems/UCSBDiningCommonsMenuItemsEditPage.test.js
Labels: UCSBDiningCommonsMenuItem

#84 Aw articles index page
  frontend/src/main/pages/Articles/ArticlesIndexPage.js
  frontend/src/stories/pages/Articles/ArticlesIndexPage.stories.js
  frontend/src/tests/pages/Articles/ArticlesCreatePage.test.js
  frontend/src/tests/pages/Articles/ArticlesIndexPage.test.js
Labels: Articles

#95 mw - Add Help Requests table component and tests
  frontend/src/main/components/HelpRequests/HelpRequestTable.js
  frontend/src/main/utils/helpRequestUtils.js
  frontend/src/stories/components/HelpRequests/HelpRequestTable.stories.js
  frontend/src/tests/components/HelpRequests/HelpRequestTable.test.js
  frontend/src/tests/utils/helpRequestUtils.test.js
Labels: HelpRequest

#100 yz - Form Component for UCSBOrganization plus tests
  frontend/src/main/components/UCSBOrganization/UCSBOrganizationForm.js
  frontend/src/stories/components/UCSBOrganization/UCSBOrganizationForm.stories.js
  frontend/src/tests/components/UCSBOrganization/UCSBOrganizationForm.test.js
Labels: UCSBOrganization

#120 Aw articles integration tests
  .github/workflows/99-team02.yml
  frontend/package.json
  src/test/java/edu/ucsb/cs156/example/integration/ArticlesIT.java
Labels: Articles

#123 mw - Add integration tests for Help Requests
  src/test/java/edu/ucsb/cs156/example/integration/HelpRequestIT.java
Labels: HelpRequest

#126 aw - Added e2e test for Articles
  frontend/src/main/components/Articles/ArticlesForm.js
  frontend/src/tests/components/Articles/ArticlesForm.test.js
  src/test/java/edu/ucsb/cs156/example/web/ArticlesWebIT.java
Labels: Articles

#92 Simon menu item reviews create page
  frontend/src/fixtures/menuItemReviewFixtures.js
  frontend/src/main/components/MenuItemReviews/MenuItemReviewForm.js
  frontend/src/main/pages/MenuItemReviews/MenuItemReviewsCreatePage.js
  frontend/src/main/pages/MenuItemReviews/MenuItemReviewsEditPage.js
  frontend/src/main/pages/MenuItemReviews/MenuItemReviewsIndexPage.js
  frontend/src/stories/pages/MenuItemRequests/MenuItemReviewIndexPage.stories.js
  frontend/src/stories/pages/MenuItemRequests/MenuItemReviewsCreatePage.stories.js
  frontend/src/stories/pages/MenuItemRequests/MenuItemReviewsEditPage.stories.js
  frontend/src/tests/components/MenuItemReviews/MenuItemReviewForm.test.js
  frontend/src/tests/components/MenuItemReviews/MenuItemReviewTable.test.js
  frontend/src/tests/pages/MenuItemReviews/MenuItemReviewsCreatePage.test.js
  frontend/src/tests/pages/MenuItemReviews/MenuItemReviewsEditPage.test.js
  frontend/src/tests/pages/MenuItemReviews/MenuItemReviewsIndexPage.test.js
Labels: MenuItemReview

#130 Simon-MenuItemReviews WebIT Tests
  frontend/src/main/components/MenuItemReviews/MenuItemReviewForm.js
  frontend/src/tests/components/MenuItemReviews/MenuItemReviewForm.test.js
  src/test/java/edu/ucsb/cs156/example/web/MenuItemReviewWebIT.java
Labels: MenuItemReview
